In [1]:
import pandas as pd

In [3]:
file_path = "C:/heart.csv"

In [5]:
data = pd.read_csv(file_path)

In [7]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [15]:
duplicate_heart_data_count = data.duplicated().sum()

In [27]:
categorical_fields = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']
categorical_summary = {field: data[field].unique() for field in categorical_fields}

In [29]:
numerical_fields = ['chol', 'trestbps', 'thalach', 'oldpeak']
numerical_summary = data[numerical_fields].describe()

In [31]:
cleaning_summary = {
    "Duplicate Rows": duplicate_heart_data_count,
    "Categorical Fields Summary": categorical_summary,
    "Numerical Fields Summary": numerical_summary
}

In [33]:
cleaning_summary

{'Duplicate Rows': 723,
 'Categorical Fields Summary': {'sex': array([1, 0], dtype=int64),
  'cp': array([0, 1, 2, 3], dtype=int64),
  'fbs': array([0, 1], dtype=int64),
  'restecg': array([1, 0, 2], dtype=int64),
  'exang': array([0, 1], dtype=int64),
  'slope': array([2, 0, 1], dtype=int64),
  'ca': array([2, 0, 1, 3, 4], dtype=int64),
  'thal': array([3, 2, 1, 0], dtype=int64)},
 'Numerical Fields Summary':              chol     trestbps      thalach      oldpeak
 count  1025.00000  1025.000000  1025.000000  1025.000000
 mean    246.00000   131.611707   149.114146     1.071512
 std      51.59251    17.516718    23.005724     1.175053
 min     126.00000    94.000000    71.000000     0.000000
 25%     211.00000   120.000000   132.000000     0.000000
 50%     240.00000   130.000000   152.000000     0.800000
 75%     275.00000   140.000000   166.000000     1.800000
 max     564.00000   200.000000   202.000000     6.200000}